<div class="container my-3">
  <%= link_to islands_path, class: "btn btn-outline-secondary" do %>
    Back
  <% end %>
</div>

<h1 class="text-center"> Unleash your inner evil </h1>

<%= render 'form' %>


