<div class="banner-island d-flex align-items-center" style="background-image: linear-gradient(360deg, rgb(50,54,57) 0%, rgba(243,182,201,0) 20%, rgba(243,182,201,0) 80%, rgb(50,54,57) 100%), url(https://cdn.pixabay.com/photo/2015/12/12/21/33/sunset-1090164_960_720.jpg)">
  <div class="container">
    <h1> Not all treasure is silver and gold, mate </h1>
    <h4> - Capt Jack Sparrow </h4>
  </div>
</div>
