<div class="footer">
  <div class="footer-links pl-4 align-content-center">
    <!-- <div class="align-content-center"> -->
      <p class="ml-3">Meet the pirates</p>
      <span data-toggle="tooltip" data-placement="top" title="Axel Resnik">
      <a href="https://github.com/AxelResnik" target="_blank"><i class="fas fa-beer"></i></a></span>
      <span data-toggle="tooltip" data-placement="top" title="Ben Attali">
      <a href="https://github.com/codeMelech" target="_blank"><i class="fas fa-anchor"></i></a></span>
      <span data-toggle="tooltip" data-placement="top" title="Ilan Sz">
      <a href="https://github.com/Ilansz" target="_blank"><i class="fas fa-skull-crossbones"></i></a></span>
      <!-- </div> -->
    </div>
  <div class="footer-copyright">
    This page is made by pirates at Le Wagon <i class="fas fa-skull"></i>
  </div>
</div>
